<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Awesome Cat Image Thingy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  </head>
  <body>
    <h1>
      <a href="{{ url_for('index')}}">My Awesome Cat Pictures Website!</a>
    </h1>
    <form method="POST">
      <input type="text" name="tag" placeholder="Enter one tag (e.g., cute)">
      <button type="submit">Filter by Tag</button>
    </form>
    {% if cat_data %}
    <h2>Grid of Cat Pictures</h2>   
    <div class="cat-grid">
      {% for cat in cat_data %}
      <div class="cat-card">
        <a href="{{ url_for('cat', id=cat.id) }}">
          <img src="{{ cat.image_url }}">
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h2>No Cat Data</h2>
    <p>No cat data was found. If you got this error after searching for a tag, the tag is most likely not in the original API. Note that tags are sensitive to capitalization.</p>
    {% endif %}
  </body>
</html>