<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Awesome Cat Image Thingy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    <h1>CAT IMAGES YIPPEEEE!</h1>
    <form method="POST">
      <input type="text" name="tag" placeholder="Enter ONE singular tag (e.g., cute)">
      <button type="submit">Filter by Tag</button>
    </form>
    {% if cat_data %}   
    <div class="cat-grid">
      {% for cat in cat_data %}
      <div class="cat-card">
        <a href="{{ url_for('cat', id=cat.id) }}">
          <img src="{{ cat.image }}">
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h2>No Cat Data</h2>
    <p>You've got no cat data, punk. If you found this after searching for some obscure made up tag, try searching for a real one instead.</p>
    {% endif %}
  </body>
</html>