<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Awesome Cat Image Thingy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    <h1>CAT IMAGES YIPPEEEE!</h1>
    {{% if %}}
    <form method="POST">
      <input type="text" name="tag" placeholder="Enter ONE singular tag (e.g., cute)">
      <button type="submit">Filter by Tag</button>
    </form>
    <div class="cat-grid">
      {% for cat in cat_data %}
      <div class="cat-card">
          <img src="{{ cat.image }}">
      </div>
      {% endfor %}
    </div>
  </body>
</html>